@font-face {
    font-family: "Shabnam";
    src: url(../font/Shabnam/Shabnam.ttf);
}

* {
    font-family: Shabnam;
}

body {
    overflow-x: hidden;
}

header .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #0080ff !important;
}

header .navbar-nav .nav-link {
    font-size: 18px !important;
}

header .navbar-nav .nav-link i {
    font-size: 25px !important;
}


header .item-header {
    position: relative;
    font-size: 13px;
}

header .item-header i {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav:last-of-type .active {
    font-size: 16px;
}

header nav:last-of-type .active i {
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 35px !important;
    width: 50px;
    height: 50px;
    border: 1px solid var(--col-gray-400);
}

.sticky-cu {
    position: sticky;
    top: 0;
    z-index: 2000;
}

@media (max-width: 767px) {
    .fixed-md-cu {
        position: fixed;
        top: unset;
        bottom: 0;
        z-index: 2000;
    }
}