:root,
[data-bs-theme="light"] {
  --bs-bg-over: #fffc, #fffc;
}

:root,
[data-bs-theme="dark"] {
  --bs-bg-over: #000c, #000c;
}

@font-face {
  font-family: "Shabnam";
  src: url(../font/Shabnam/Shabnam.ttf);
}

* {
  font-family: Shabnam;
}

body {
  overflow-x: hidden;
}
.height-300 {
  height: 300px;
}
.h-100 {
  height: 100% !important;
}
.sticky-cu {
  position: sticky;
  top: 0;
  z-index: 2000;
}
.ab-p-image {
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  .fixed-md-cu {
    position: fixed;
    top: unset;
    bottom: 0;
    z-index: 2000;
  }

  .rounded-end-5- {
    border-radius: 100px !important;
  }
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div[cu-height="150px"] {
  height: 150px;
}

.ratio-cu[cu-height="130px"] {
  height: 130px;
}

header .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #0080ff !important;
}

header .navbar-nav .nav-link {
  font-size: 18px !important;
}

header .navbar-nav .nav-link i {
  font-size: 25px !important;
}


header .item-header {
  position: relative;
  font-size: 13px;
}

header .item-header i {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav:last-of-type .active {
  font-size: 16px;
}
header nav:last-of-type .active i {
  color: black;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 35px !important;
  width: 60px;
  height: 60px;
  border: 1px solid var(--col-gray-400);
}

section:first-of-type {
  min-height: 350px;
}

#home-slider-banner .col-4 {
  max-height: 300px;
}

@media screen and (min-width: 992px) {
  section:first-of-type img {
    width: 60%;
  }
}
