.h1 {
    font-size: 2.1rem;
}

.h2 {
    font-size: 1.6rem;
}

.h3 {
    font-size: 1.27rem;
}

.h4 {
    font-size: 1.1rem;
}

.h5 {
    font-size: 0.93rem;
}

.h6 {
    font-size: 0.87rem;
}

.p {
    font-size: 1.1rem;
}

.txt-1 {
    font-size: 2.1rem;
}

.txt-2 {
    font-size: 1.6rem;
}

.txt-3 {
    font-size: 1.27rem;
}

.txt-4 {
    font-size: 1.1rem;
}

.txt-5 {
    font-size: 0.93rem;
}

.txt-6 {
    font-size: 0.87rem;
}

@media (min-width: 576px) {
    .h1 {
        font-size: 2.3rem;
    }

    .h2 {
        font-size: 1.8rem;
    }

    .h3 {
        font-size: 1.47rem;
    }

    .h4 {
        font-size: 1.3rem;
    }

    .h5 {
        font-size: 1.13rem;
    }

    .h6 {
        font-size: 1.07rem;
    }

    .p {
        font-size: 1.3rem;
    }

    .txt-sm-1 {
        font-size: 2.3rem;
    }

    .txt-sm-2 {
        font-size: 1.8rem;
    }

    .txt-sm-3 {
        font-size: 1.47rem;
    }

    .txt-sm-4 {
        font-size: 1.3rem;
    }

    .txt-sm-5 {
        font-size: 1.13rem;
    }

    .txt-sm-6 {
        font-size: 1.07rem;
    }
}

@media (min-width: 768px) {
    .h1 {
        font-size: 2.5rem;
    }

    .h2 {
        font-size: 2rem;
    }

    .h3 {
        font-size: 1.67rem;
    }

    .h4 {
        font-size: 1.5rem;
    }

    .h5 {
        font-size: 1.33rem;
    }

    .h6 {
        font-size: 1.27rem;
    }

    .p {
        font-size: 1.5rem;
    }

    .txt-md-1 {
        font-size: 2.5rem;
    }

    .txt-md-2 {
        font-size: 2rem;
    }

    .txt-md-3 {
        font-size: 1.67rem;
    }

    .txt-md-4 {
        font-size: 1.5rem;
    }

    .txt-md-5 {
        font-size: 1.33rem;
    }

    .txt-md-6 {
        font-size: 1.27rem;
    }
}

@media (min-width: 992px) {
    .h1 {
        font-size: 2.7rem;
    }

    .h2 {
        font-size: 2.2rem;
    }

    .h3 {
        font-size: 1.87rem;
    }

    .h4 {
        font-size: 1.7rem;
    }

    .h5 {
        font-size: 1.53rem;
    }

    .h6 {
        font-size: 1.47rem;
    }

    .p {
        font-size: 1.7rem;
    }

    .txt-lg-1 {
        font-size: 2.7rem;
    }

    .txt-lg-2 {
        font-size: 2.2rem;
    }

    .txt-lg-3 {
        font-size: 1.87rem;
    }

    .txt-lg-4 {
        font-size: 1.7rem;
    }

    .txt-lg-5 {
        font-size: 1.53rem;
    }

    .txt-lg-6 {
        font-size: 1.47rem;
    }
}

@media (min-width: 1200px) {
    .h1 {
        font-size: 2.9rem;
    }

    .h2 {
        font-size: 2.4rem;
    }

    .h3 {
        font-size: 2.07rem;
    }

    .h4 {
        font-size: 1.9rem;
    }

    .h5 {
        font-size: 1.73rem;
    }

    .h6 {
        font-size: 1.67rem;
    }

    .p {
        font-size: 1.9rem;
    }

    .txt-xl-1 {
        font-size: 2.9rem;
    }

    .txt-xl-2 {
        font-size: 2.4rem;
    }

    .txt-xl-3 {
        font-size: 2.07rem;
    }

    .txt-xl-4 {
        font-size: 1.9rem;
    }

    .txt-xl-5 {
        font-size: 1.73rem;
    }

    .txt-lg-6 {
        font-size: 1.67rem;
    }
}